*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

  
article h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
}

